Repository fellipeutaka/denji: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}"
      run: bun --bun biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{ts,d.cts,d.mts,tsx}"
      run: bun run type-check

refactor(cli): require hooks array instead of optional in HooksRunner
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/modes/add-file.ts
  apps/cli/src/commands/modes/add-folder.ts
  apps/cli/src/commands/modes/clear-file.ts
  apps/cli/src/commands/modes/clear-folder.ts
  apps/cli/src/commands/modes/list-file.ts
  apps/cli/src/commands/modes/list-folder.ts
  apps/cli/src/commands/modes/remove-file.ts
  apps/cli/src/commands/modes/remove-folder.ts
  apps/cli/src/services/deps.ts
Due: check, type-check

feat(cli): add Qwik framework support
  .changeset/add-qwik-framework.md
  apps/cli/configuration_schema.json
  apps/cli/src/frameworks/factory.ts
  apps/cli/src/frameworks/qwik/schema.ts
  apps/cli/src/frameworks/qwik/strategy.test.ts
  apps/cli/src/frameworks/qwik/strategy.ts
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/utils/config.ts
  apps/docs/public/configuration_schema.json
  apps/docs/src/components/icons.tsx
  apps/docs/src/content/docs/(framework)/qwik/configuration.mdx
  apps/docs/src/content/docs/(framework)/qwik/index.mdx
  apps/docs/src/content/docs/(framework)/qwik/installation.mdx
  apps/docs/src/content/docs/(framework)/qwik/meta.json
  apps/docs/src/content/docs/(framework)/qwik/usage.mdx
Due: check, type-check

feat: add SKILL.md for AI agent integration
  skills/denji/SKILL.md
  skills/denji/references/configuration.md
  skills/denji/references/framework-patterns.md
Due: none

docs: add remote $schema URL for non-local installs
  apps/docs/src/content/docs/(framework)/preact/configuration.mdx
  apps/docs/src/content/docs/(framework)/qwik/configuration.mdx
  apps/docs/src/content/docs/(framework)/react/configuration.mdx
  apps/docs/src/content/docs/(framework)/solid/configuration.mdx
  apps/docs/src/content/docs/(framework)/svelte/configuration.mdx
  apps/docs/src/content/docs/(framework)/vue/configuration.mdx
  apps/docs/src/content/docs/commands/init.mdx
  apps/docs/src/content/docs/troubleshooting.mdx
Due: none

feat(cli): add keywords
  apps/cli/package.json
Due: check

test(cli): fix qwik wrong import template
  apps/cli/src/frameworks/qwik/strategy.test.ts
Due: check, type-check

chore: bump deps
  apps/cli/package.json
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/services/deps.ts
  apps/cli/src/utils/icons.ts
  apps/cli/src/utils/prompts.ts
  apps/cli/src/utils/result.ts
  apps/docs/src/lib/cn.ts
  biome.jsonc
  bun.lock
  package.json
Due: check, type-check

chore: simplify biome config
  biome.jsonc
Due: check

chore: add AGENTS.md files
  .opencode/skills/agent-browser
  .opencode/skills/commit-work
  .opencode/skills/creating-a-changeset
  .opencode/skills/turborepo
  AGENTS.md
  apps/cli/AGENTS.md
Due: none

fix(cli): early return after cancel in clear modes
  apps/cli/src/commands/modes/clear-file.ts
  apps/cli/src/commands/modes/clear-folder.ts
Due: check, type-check

refactor(cli): remove deprecated ComponentOptions interface
  apps/cli/src/frameworks/types.ts
Due: check, type-check

refactor(cli): inject logger into hooks via factory (DIP)
  apps/cli/src/services/defaults.ts
  apps/cli/src/utils/hooks.ts
Due: check, type-check

refactor(cli): split icons.ts into validate-icon and fetch-icon (SRP)
  apps/cli/src/utils/fetch-icon.ts
  apps/cli/src/utils/icons.ts
  apps/cli/src/utils/validate-icon.ts
Due: check, type-check

refactor(cli): deduplicate command boilerplate and simplify AddModeRunner
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/modes/add-file.ts
  apps/cli/src/commands/modes/add-folder.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/services/deps.ts
  apps/cli/src/utils/resolve-context.ts
Due: check, type-check

chore(cli): remove redundant target from tsdown config
  apps/cli/tsdown.config.ts
Due: check, type-check

docs(skills): fix IconProps import and CLI examples
  skills/denji/SKILL.md
Due: none

chore(cli): add @toon-format/toon dependency
  apps/cli/package.json
  bun.lock
Due: check

feat(cli)!: replace --json with --display option on list command
  .changeset/list-display-option.md
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/modes/display-strategies/default.ts
  apps/cli/src/commands/modes/display-strategies/index.ts
  apps/cli/src/commands/modes/display-strategies/json.ts
  apps/cli/src/commands/modes/display-strategies/toon.ts
  apps/cli/src/commands/modes/list-file.ts
  apps/cli/src/services/deps.ts
Due: check, type-check

chore: remove outdated .cursor and .agent folder
  .agent/skills/agent-browser
  .agent/skills/bun
  .agent/skills/clean-code
  .agent/skills/commit-work
  .agent/skills/design-patterns
  .agent/skills/frontend-design
  .agent/skills/interface-design
  .agent/skills/kanpeki
  .agent/skills/motion
  .agent/skills/next-best-practices
  .agent/skills/next-cache-components
  .agent/skills/nuqs
  .agent/skills/seo-audit
  .agent/skills/solid
  .agent/skills/tanstack-hotkeys
  .agent/skills/tanstack-pacer
  .agent/skills/tanstack-query
  .agent/skills/tanstack-virtual
  .agent/skills/turborepo
  .agent/skills/vercel-composition-patterns
  .agent/skills/vercel-react-best-practices
  .agent/skills/web-design-guidelines
  .cursor/skills/agent-browser
  .cursor/skills/bun
  .cursor/skills/clean-code
  .cursor/skills/commit-work
  .cursor/skills/creating-a-changeset
  .cursor/skills/design-patterns
  .cursor/skills/next-best-practices
  .cursor/skills/next-cache-components
  .cursor/skills/react-aria
  .cursor/skills/seo-audit
  .cursor/skills/solid
  .cursor/skills/tanstack-query
  .cursor/skills/turborepo
  .cursor/skills/vercel-composition-patterns
  .cursor/skills/vercel-react-best-practices
  .cursor/skills/web-design-guidelines
Due: none

chore: add AI repo setup tooling and new skills
  .agents/skills/ai-repo-setup/SKILL.md
  .agents/skills/ai-repo-setup/references/agents-md-guide.md
  .agents/skills/ai-repo-setup/references/deterministic-enforcement.md
  .agents/skills/ai-repo-setup/references/feedback-loops.md
  .agents/skills/ai-repo-setup/references/multi-layer-guide.md
  .agents/skills/ai-repo-setup/references/tracker-issue-patterns.md
  .agents/skills/zod/SKILL.md
  .agents/skills/zod/references/advanced.md
  .agents/skills/zod/references/codecs.md
  .agents/skills/zod/references/json-schema.md
  .agents/skills/zod/references/migration.md
  .agents/skills/zod/references/zod-mini.md
  .claude/CLAUDE.md
  .claude/hooks/block-dangerous-git.sh
  .claude/hooks/block-env-file-writes.sh
  .claude/hooks/block-wrong-package-manager.sh
  .claude/settings.json
  .claude/skills/ai-repo-setup
  .claude/skills/zod
  AGENTS.md
  apps/cli/AGENTS.md
  apps/cli/CLAUDE.md
  lefthook.yml
  skills-lock.json
Due: check

feat(cli): add allowedLibraries config to restrict icon prefixes
  apps/cli/configuration_schema.json
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/schemas/config.ts
Due: check, type-check

docs: document allowedLibraries config option
  .changeset/add-allowed-libraries.md
  apps/docs/public/configuration_schema.json
  apps/docs/src/content/docs/preact/configuration.mdx
  apps/docs/src/content/docs/qwik/configuration.mdx
  apps/docs/src/content/docs/react/configuration.mdx
  apps/docs/src/content/docs/solid/configuration.mdx
  apps/docs/src/content/docs/svelte/configuration.mdx
  apps/docs/src/content/docs/vue/configuration.mdx
Due: check

docs: update list command docs to use --display flag
  apps/docs/src/content/docs/preact/commands/list.mdx
  apps/docs/src/content/docs/qwik/commands/list.mdx
  apps/docs/src/content/docs/react/commands/list.mdx
  apps/docs/src/content/docs/solid/commands/list.mdx
  apps/docs/src/content/docs/svelte/commands/list.mdx
  apps/docs/src/content/docs/vue/commands/list.mdx
Due: none

feat(cli): add --dry-run flag to denji add command
  .changeset/add-dry-run-flag.md
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/modes/add-file.ts
  apps/cli/src/commands/modes/add-folder.ts
  apps/cli/src/services/deps.ts
  apps/docs/src/content/docs/preact/commands/add.mdx
  apps/docs/src/content/docs/qwik/commands/add.mdx
  apps/docs/src/content/docs/react/commands/add.mdx
  apps/docs/src/content/docs/solid/commands/add.mdx
  apps/docs/src/content/docs/svelte/commands/add.mdx
  apps/docs/src/content/docs/vue/commands/add.mdx
Due: check, type-check

feat(cli): add export and import commands
  .changeset/add-export-import-commands.md
  AGENTS.md
  apps/cli/src/commands/__tests__/test-utils.ts
  apps/cli/src/commands/export.test.ts
  apps/cli/src/commands/export.ts
  apps/cli/src/commands/import.test.ts
  apps/cli/src/commands/import.ts
  apps/cli/src/commands/modes/export-file.ts
  apps/cli/src/commands/modes/export-folder.ts
  apps/cli/src/index.ts
  apps/cli/src/services/defaults.ts
  apps/cli/src/services/deps.ts
  apps/docs/src/content/docs/preact/commands/export.mdx
  apps/docs/src/content/docs/preact/commands/import.mdx
  apps/docs/src/content/docs/preact/commands/meta.json
  apps/docs/src/content/docs/qwik/commands/export.mdx
  apps/docs/src/content/docs/qwik/commands/import.mdx
  apps/docs/src/content/docs/qwik/commands/meta.json
  apps/docs/src/content/docs/react/commands/export.mdx
  apps/docs/src/content/docs/react/commands/import.mdx
  apps/docs/src/content/docs/react/commands/meta.json
  apps/docs/src/content/docs/solid/commands/export.mdx
  apps/docs/src/content/docs/solid/commands/import.mdx
  apps/docs/src/content/docs/solid/commands/meta.json
  apps/docs/src/content/docs/svelte/commands/export.mdx
  apps/docs/src/content/docs/svelte/commands/import.mdx
  apps/docs/src/content/docs/svelte/commands/meta.json
  apps/docs/src/content/docs/vue/commands/export.mdx
  apps/docs/src/content/docs/vue/commands/import.mdx
  apps/docs/src/content/docs/vue/commands/meta.json
Due: check, type-check

docs(skills): update denji skill for v1.0.0
  skills/denji/SKILL.md
  skills/denji/references/configuration.md
Due: none

feat(skills): add skill-creator skill
  .agents/skills/skill-creator/LICENSE.txt
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/skill-creator/references/output-patterns.md
  .agents/skills/skill-creator/references/workflows.md
  .agents/skills/skill-creator/scripts/init_skill.py
  .agents/skills/skill-creator/scripts/package_skill.py
  .agents/skills/skill-creator/scripts/quick_validate.py
  .claude/skills/skill-creator
  skills-lock.json
Due: check
