Repository fellipeutaka/denji: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}"
      run: bun --bun biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{ts,d.cts,d.mts,tsx}"
      run: bun run type-check

chore: add tsdown for bundling the cli
  biome.jsonc
  bun.lock
  package.json
  tsconfig.json
  tsdown.config.ts
Due: check, type-check

feat: add configuration_schema.json file
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  CLAUDE.md
  configuration_schema.json
  package.json
  scripts/generate-schema.ts
  src/schemas/config.ts
  tsconfig.json
Due: check, type-check

feat: add list command
  src/commands/add.ts
  src/commands/list.ts
  src/index.ts
  src/utils/config.ts
  src/utils/fs.ts
Due: check, type-check

feat: add --json flag to list command
  package.json
  src/commands/list.ts
Due: check, type-check

feat: add remove command
  src/commands/remove.ts
  src/index.ts
  src/utils/icons.ts
Due: check, type-check

feat: add clear command
  src/commands/clear.ts
  src/index.ts
  src/utils/prompts.ts
Due: check, type-check

feat: add pre and post add hooks
  bun.lock
  configuration_schema.json
  package.json
  src/commands/add.ts
  src/schemas/config.ts
  src/utils/hooks.ts
Due: check, type-check

feat: add a11y config for accessibility patterns
  configuration_schema.json
  src/commands/add.ts
  src/commands/init.ts
  src/schemas/config.ts
  src/utils/icons.ts
Due: check, type-check

feat: add missing hooks
  configuration_schema.json
  src/commands/clear.ts
  src/commands/list.ts
  src/commands/remove.ts
  src/schemas/config.ts
Due: check, type-check

docs: add README.md
  README.md
Due: none

chore: migrate to monorepo
  .gitignore
  apps/cli/README.md
  apps/cli/configuration_schema.json
  apps/cli/package.json
  apps/cli/scripts/generate-schema.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/index.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/templates/icons.ts
  apps/cli/src/utils/config.ts
  apps/cli/src/utils/fs.ts
  apps/cli/src/utils/handle-error.ts
  apps/cli/src/utils/hooks.ts
  apps/cli/src/utils/icons.ts
  apps/cli/src/utils/logger.ts
  apps/cli/src/utils/prompts.ts
  apps/cli/src/utils/result.ts
  apps/cli/tsconfig.json
  apps/cli/tsdown.config.ts
  bun.lock
  package.json
  turbo.json
Due: check, type-check

chore: add changeset
  .changeset/README.md
  .changeset/config.json
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  bun.lock
  package.json
Due: check

chore(cli): update changelog
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: check

ci: use npm instead of bun for publishing
  .github/workflows/release.yaml
Due: none

ci: use npx for publishing
  .github/workflows/release.yaml
Due: none

chore(cli): add publishConfig config
  apps/cli/package.json
Due: check

feat: add docs website
  apps/cli/scripts/generate-schema.ts
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/denji.json
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/postcss.config.js
  apps/docs/public/configuration_schema.json
  apps/docs/source.config.ts
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/global.css
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/llms-full.txt/route.ts
  apps/docs/src/app/llms.mdx/docs/[[...slug]]/route.ts
  apps/docs/src/app/og/docs/[...slug]/route.tsx
  apps/docs/src/components/ai/page-actions.tsx
  apps/docs/src/components/icons.tsx
  apps/docs/src/content/docs/commands/add.mdx
  apps/docs/src/content/docs/commands/clear.mdx
  apps/docs/src/content/docs/commands/index.mdx
  apps/docs/src/content/docs/commands/init.mdx
  apps/docs/src/content/docs/commands/list.mdx
  apps/docs/src/content/docs/commands/remove.mdx
  apps/docs/src/content/docs/configuration.mdx
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/content/docs/installation.mdx
  apps/docs/src/content/docs/troubleshooting.mdx
  apps/docs/src/content/docs/usage.mdx
  apps/docs/src/lib/cn.ts
  apps/docs/src/lib/layout.shared.tsx
  apps/docs/src/lib/source.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/tsconfig.json
  bun.lock
Due: check, type-check

feat(docs): add github link
  apps/docs/next.config.ts
  apps/docs/src/app/layout.tsx
  apps/docs/src/config/site.ts
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/lib/layout.shared.tsx
  apps/docs/src/styles/globals.css
Due: check, type-check

feat(cli): set $schema default value
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/cli/src/schemas/config.ts
Due: check, type-check

refactor(docs): switch examples to npm and refine source types
  apps/docs/source.config.ts
  apps/docs/src/content/docs/configuration.mdx
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/content/docs/installation.mdx
  apps/docs/src/content/docs/troubleshooting.mdx
  apps/docs/src/lib/source.ts
Due: check, type-check

fix(cli): handle icon names starting with numbers
  .claude/CLAUDE.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/cli/src/utils/icons.ts
Due: check, type-check

build: add `types` react as `devDependencies`
  bun.lock
  package.json
Due: check

feat(cli): add `DynamicIcon` in icons template + JSDoc
  apps/cli/src/templates/icons.ts
Due: check, type-check

feat(cli): add new trackSource config
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/utils/icons.ts
  apps/docs/src/content/docs/commands/init.mdx
  apps/docs/src/content/docs/configuration.mdx
Due: check, type-check

test(cli): add test for init command
  apps/cli/configuration_schema.json
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/docs/public/configuration_schema.json
Due: check, type-check

test(cli): add test for clear command
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/clear.ts
Due: check, type-check

test(cli): add test for list command
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/list.ts
Due: check, type-check

test(cli): add test for add command
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/init.test.ts
Due: check, type-check

test(cli): add test for remove command
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/remove.test.ts
  apps/cli/src/commands/remove.ts
Due: check, type-check

test(cli): add test for icons utils
  .github/workflows/lint.yaml
  apps/cli/src/utils/icons.test.ts
Due: check, type-check

test(cli): remove the amount of mocks
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/remove.test.ts
Due: check, type-check

test(cli): add tests for svgToComponent function
  apps/cli/src/utils/icons.test.ts
Due: check, type-check

fix(docs): remove some useless examples
  apps/docs/src/content/docs/usage.mdx
Due: none

refactor(cli): remove default true from CLI boolean options
  apps/cli/src/commands/init.ts
Due: check, type-check

feat: add new export IconName type
  apps/cli/src/commands/init.test.ts
  apps/cli/src/templates/icons.ts
  apps/docs/src/components/icons.tsx
  apps/docs/src/content/docs/usage.mdx
Due: check, type-check

feat(docs): add integration guides
  apps/docs/src/content/docs/integrations/biome.mdx
  apps/docs/src/content/docs/integrations/eslint.mdx
  apps/docs/src/content/docs/integrations/index.mdx
  apps/docs/src/content/docs/integrations/oxfmt.mdx
  apps/docs/src/content/docs/integrations/oxlint.mdx
  apps/docs/src/content/docs/integrations/prettier.mdx
  apps/docs/src/content/docs/integrations/ultracite.mdx
  apps/docs/src/styles/globals.css
Due: check

feat(docs): add meta.json to organize comamnds and integrations pages order
  apps/docs/src/content/docs/commands/meta.json
  apps/docs/src/content/docs/integrations/meta.json
Due: check

feat(cli): add forwardRef option for React icon components
  .changeset/add-forward-ref-option.md
  .claude/rules/code-styles.md
  .claude/rules/creating-a-changeset.md
  .claude/settings.json
  CONTRIBUTING.md
  apps/cli/configuration_schema.json
  apps/cli/package.json
  apps/cli/scripts/generate-schema.ts
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/remove.test.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/templates/icons.ts
  apps/cli/src/utils/icons.ts
  apps/docs/public/configuration_schema.json
  bun.lock
Due: check, type-check

chore: migrate to unified agent skills system
  .agents/skills/commit-work/SKILL.md
  .agents/skills/creating-a-changeset/SKILL.md
  .agents/skills/turborepo/SKILL.md
  .agents/skills/turborepo/command/turborepo.md
  .agents/skills/turborepo/references/best-practices/dependencies.md
  .agents/skills/turborepo/references/best-practices/packages.md
  .agents/skills/turborepo/references/best-practices/structure.md
  .agents/skills/turborepo/references/caching/gotchas.md
  .agents/skills/turborepo/references/caching/remote-cache.md
  .agents/skills/turborepo/references/ci/github-actions.md
  .agents/skills/turborepo/references/ci/patterns.md
  .agents/skills/turborepo/references/ci/vercel.md
  .agents/skills/turborepo/references/cli/commands.md
  .agents/skills/turborepo/references/configuration/global-options.md
  .agents/skills/turborepo/references/configuration/gotchas.md
  .agents/skills/turborepo/references/configuration/tasks.md
  .agents/skills/turborepo/references/environment/gotchas.md
  .agents/skills/turborepo/references/environment/modes.md
  .agents/skills/turborepo/references/filtering/patterns.md
  .claude/CLAUDE.md
  .claude/rules/code-styles.md
  .claude/settings.json
  .claude/skills/commit-work
  .claude/skills/creating-a-changeset
  .claude/skills/turborepo
  .cursor/hooks.json
  .cursor/skills/commit-work
  .cursor/skills/creating-a-changeset
  .cursor/skills/turborepo
  .opencode/skills/commit-work
  .opencode/skills/creating-a-changeset
  .opencode/skills/turborepo
Due: check

chore: add feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none
