Repository fellipeutaka/denji: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

check:
  run: bun --bun biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: bun run type-check

chore: add bug report issue template
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
Due: none

chore: fix github issue template config file extension
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat(cli): add Preact framework support
  .changeset/add-preact-support.md
  apps/cli/README.md
  apps/cli/configuration_schema.json
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/templates/icons.ts
  apps/docs/public/configuration_schema.json
Due: check, type-check

refactor(cli): introduce Strategy + Factory pattern for frameworks
  apps/cli/CLAUDE.md
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/frameworks/factory.ts
  apps/cli/src/frameworks/preact/schema.ts
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/react/schema.ts
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/schemas/config.ts
Due: check, type-check

refactor(cli): migrate schemas to zod/mini for tree-shaking
  apps/cli/CLAUDE.md
  apps/cli/configuration_schema.json
  apps/cli/scripts/generate-schema.ts
  apps/cli/src/frameworks/preact/schema.ts
  apps/cli/src/frameworks/react/schema.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/schemas/config.ts
  apps/docs/public/configuration_schema.json
Due: check, type-check

chore: enable noExcessiveCognitiveComplexity with limit 41
  biome.jsonc
Due: check

chore: bump deps
  .zed/settings.json
  apps/cli/package.json
  apps/docs/package.json
  bun.lock
  package.json
  turbo.json
Due: check

refactor(cli): migrate templates to Eta files
  apps/cli/package.json
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/preact/templates/icons.eta
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/react/templates/icons.eta
  apps/cli/src/templates/icons.ts
  apps/cli/src/utils/eta.ts
  bun.lock
Due: check, type-check

docs(cli): document Eta templates
  apps/cli/CLAUDE.md
Due: none

feat(cli): add Solid.js framework support
  .changeset/add-solid-framework-support.md
  apps/cli/CLAUDE.md
  apps/cli/configuration_schema.json
  apps/cli/package.json
  apps/cli/src/commands/__tests__/test-utils.ts
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.test.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/remove.test.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/frameworks/factory.ts
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/preact/templates/icons.eta
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/react/templates/icons.eta
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/frameworks/solid/schema.ts
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/services/defaults.ts
  apps/cli/src/services/deps.ts
  apps/cli/src/utils/eta.ts
  apps/cli/src/utils/icons.test.ts
  apps/cli/src/utils/icons.ts
  apps/cli/src/utils/prompts.ts
  apps/cli/src/utils/result.ts
  apps/cli/src/utils/svg.ts
  apps/cli/tsconfig.json
  apps/docs/public/configuration_schema.json
  biome.jsonc
  bun.lock
Due: check, type-check

chore: add MIT license
  LICENSE.md
Due: none

chore(lint): enable useBlockStatements rule
  biome.jsonc
Due: check

chore: add agent-browser skill
  .agents/skills/agent-browser/SKILL.md
  .agents/skills/agent-browser/references/authentication.md
  .agents/skills/agent-browser/references/commands.md
  .agents/skills/agent-browser/references/proxy-support.md
  .agents/skills/agent-browser/references/session-management.md
  .agents/skills/agent-browser/references/snapshot-refs.md
  .agents/skills/agent-browser/references/video-recording.md
  .agents/skills/agent-browser/templates/authenticated-session.sh
  .agents/skills/agent-browser/templates/capture-workflow.sh
  .agents/skills/agent-browser/templates/form-automation.sh
  .claude/skills/agent-browser
  .cursor/skills/agent-browser
  .opencode/skills/agent-browser
Due: none

docs: restructure for multi-framework support
  README.md
  apps/cli/README.md
  apps/docs/denji.json
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/src/components/icons.tsx
  apps/docs/src/config/site.ts
  apps/docs/src/content/docs/(framework)/preact/commands
  apps/docs/src/content/docs/(framework)/preact/configuration.mdx
  apps/docs/src/content/docs/(framework)/preact/index.mdx
  apps/docs/src/content/docs/(framework)/preact/installation.mdx
  apps/docs/src/content/docs/(framework)/preact/integrations
  apps/docs/src/content/docs/(framework)/preact/meta.json
  apps/docs/src/content/docs/(framework)/preact/troubleshooting.mdx
  apps/docs/src/content/docs/(framework)/preact/usage.mdx
  apps/docs/src/content/docs/(framework)/react/commands
  apps/docs/src/content/docs/(framework)/react/configuration.mdx
  apps/docs/src/content/docs/(framework)/react/index.mdx
  apps/docs/src/content/docs/(framework)/react/installation.mdx
  apps/docs/src/content/docs/(framework)/react/integrations
  apps/docs/src/content/docs/(framework)/react/meta.json
  apps/docs/src/content/docs/(framework)/react/troubleshooting.mdx
  apps/docs/src/content/docs/(framework)/react/usage.mdx
  apps/docs/src/content/docs/(framework)/solid/commands
  apps/docs/src/content/docs/(framework)/solid/configuration.mdx
  apps/docs/src/content/docs/(framework)/solid/index.mdx
  apps/docs/src/content/docs/(framework)/solid/installation.mdx
  apps/docs/src/content/docs/(framework)/solid/integrations
  apps/docs/src/content/docs/(framework)/solid/meta.json
  apps/docs/src/content/docs/(framework)/solid/troubleshooting.mdx
  apps/docs/src/content/docs/(framework)/solid/usage.mdx
  apps/docs/src/content/docs/commands/init.mdx
  apps/docs/src/lib/source.ts
  apps/docs/tsconfig.json
Due: check, type-check

chore(cli): add repository directory field
  apps/cli/package.json
Due: check

ci(release): scope build to denji package only
  .github/workflows/release.yaml
Due: none

feat(cli): add Vue framework support
  apps/cli/configuration_schema.json
  apps/cli/src/commands/init.test.ts
  apps/cli/src/frameworks/factory.ts
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/frameworks/vue/schema.ts
  apps/cli/src/frameworks/vue/strategy.ts
  apps/cli/src/schemas/config.ts
  apps/docs/public/configuration_schema.json
Due: check, type-check

docs: add test command to quality gates in CLAUDE.md
  .claude/CLAUDE.md
Due: none

test(cli): add framework strategy unit tests
  apps/cli/src/frameworks/preact/strategy.test.ts
  apps/cli/src/frameworks/react/strategy.test.ts
  apps/cli/src/frameworks/solid/strategy.test.ts
  apps/cli/src/frameworks/vue/strategy.test.ts
Due: check, type-check

refactor(cli): simplify command tests to behavior-focused
  apps/cli/src/commands/add.test.ts
  apps/cli/src/commands/init.test.ts
Due: check, type-check

chore: add changeset for Vue framework support
  .changeset/add-vue-framework-support.md
Due: none

docs: add Vue framework documentation
  apps/cli/README.md
  apps/docs/src/components/icons.tsx
  apps/docs/src/content/docs/(framework)/react/index.mdx
  apps/docs/src/content/docs/(framework)/solid/index.mdx
  apps/docs/src/content/docs/(framework)/vue/commands
  apps/docs/src/content/docs/(framework)/vue/configuration.mdx
  apps/docs/src/content/docs/(framework)/vue/index.mdx
  apps/docs/src/content/docs/(framework)/vue/installation.mdx
  apps/docs/src/content/docs/(framework)/vue/integrations
  apps/docs/src/content/docs/(framework)/vue/meta.json
  apps/docs/src/content/docs/(framework)/vue/troubleshooting.mdx
  apps/docs/src/content/docs/(framework)/vue/usage.mdx
  apps/docs/src/content/docs/index.mdx
Due: check, type-check

feat(cli): add Svelte framework and folder output mode
  .changeset/add-svelte-framework-and-folder-output.md
  apps/cli/configuration_schema.json
  apps/cli/src/frameworks/factory.ts
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/svelte/schema.ts
  apps/cli/src/frameworks/svelte/strategy.test.ts
  apps/cli/src/frameworks/svelte/strategy.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/frameworks/vue/strategy.ts
  apps/cli/src/schemas/config.ts
  apps/cli/src/utils/fs.ts
  apps/cli/src/utils/icons-folder.ts
  apps/docs/public/configuration_schema.json
  apps/docs/src/content/docs/(framework)/svelte/configuration.mdx
  apps/docs/src/content/docs/(framework)/svelte/index.mdx
  apps/docs/src/content/docs/(framework)/svelte/installation.mdx
  apps/docs/src/content/docs/(framework)/svelte/meta.json
  apps/docs/src/content/docs/(framework)/svelte/usage.mdx
Due: check, type-check

refactor(cli): extract file/folder mode runners from commands
  apps/cli/src/commands/__tests__/test-utils.ts
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/modes/add-file.ts
  apps/cli/src/commands/modes/add-folder.ts
  apps/cli/src/commands/modes/clear-file.ts
  apps/cli/src/commands/modes/clear-folder.ts
  apps/cli/src/commands/modes/init-folder.ts
  apps/cli/src/commands/modes/list-file.ts
  apps/cli/src/commands/modes/list-folder.ts
  apps/cli/src/commands/modes/remove-file.ts
  apps/cli/src/commands/modes/remove-folder.ts
  apps/cli/src/commands/remove.test.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/frameworks/registry.ts
  apps/cli/src/services/defaults.ts
  apps/cli/src/services/deps.ts
  apps/cli/src/utils/config.test.ts
  apps/cli/src/utils/config.ts
Due: check, type-check

feat(cli): add output type prompt to init command
  apps/cli/src/commands/init.test.ts
  apps/cli/src/commands/init.ts
Due: check, type-check

feat(frameworks): add folder mode support with named exports
  apps/cli/src/commands/modes/add-folder.ts
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/react/strategy.test.ts
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/frameworks/vue/strategy.ts
  apps/cli/src/utils/icons-folder.ts
Due: check, type-check

feat(list): display icon sources when trackSource is enabled
  .changeset/list-show-icon-sources.md
  apps/cli/src/commands/list.test.ts
  apps/cli/src/commands/modes/list-file.ts
  apps/cli/src/commands/modes/list-folder.ts
  apps/cli/src/utils/icons.test.ts
  apps/cli/src/utils/icons.ts
Due: check, type-check

feat(docs): enable icon source tracking and add Svelte icon
  apps/docs/denji.json
  apps/docs/src/components/icons.tsx
Due: check, type-check

refactor(cli): remove unnecessary factory functions from commands
  apps/cli/CLAUDE.md
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/clear.ts
  apps/cli/src/commands/init.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/remove.ts
Due: check, type-check

test(cli): improve React strategy coverage to 100%
  apps/cli/src/frameworks/react/strategy.test.ts
Due: check, type-check

test(cli): improve Preact strategy coverage to 100%
  apps/cli/src/frameworks/preact/strategy.test.ts
Due: check, type-check

refactor(cli): remove unnecessary async/undefined handling
  apps/cli/src/utils/config.test.ts
  apps/cli/src/utils/hooks.ts
Due: check, type-check

refactor(cli): simplify framework strategy factory
  apps/cli/src/frameworks/factory.ts
Due: check, type-check

chore(cli): exclude test fixtures from coverage
  apps/cli/bunfig.toml
Due: none

refactor(cli): use async/await instead of Promise.resolve
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/svelte/strategy.ts
  apps/cli/src/frameworks/vue/strategy.ts
Due: check, type-check

fix(cli): handle nested svg tags in vue
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/vue/strategy.test.ts
  apps/cli/src/frameworks/vue/strategy.ts
Due: check, type-check

test(cli): improve Solid strategy coverage
  apps/cli/src/frameworks/solid/strategy.test.ts
Due: check, type-check

refactor(cli): remove unused getImports from FrameworkStrategy
  apps/cli/CLAUDE.md
  apps/cli/src/frameworks/preact/strategy.test.ts
  apps/cli/src/frameworks/preact/strategy.ts
  apps/cli/src/frameworks/react/strategy.test.ts
  apps/cli/src/frameworks/react/strategy.ts
  apps/cli/src/frameworks/solid/strategy.test.ts
  apps/cli/src/frameworks/solid/strategy.ts
  apps/cli/src/frameworks/svelte/strategy.test.ts
  apps/cli/src/frameworks/svelte/strategy.ts
  apps/cli/src/frameworks/types.ts
  apps/cli/src/frameworks/vue/strategy.test.ts
  apps/cli/src/frameworks/vue/strategy.ts
Due: check, type-check

docs(cli): update CLAUDE.md for Vue/Svelte, folder mode, and mode runners
  apps/cli/CLAUDE.md
Due: none

docs: add folder mode and --output-type to framework docs
  apps/docs/src/content/docs/(framework)/preact/configuration.mdx
  apps/docs/src/content/docs/(framework)/preact/installation.mdx
  apps/docs/src/content/docs/(framework)/preact/usage.mdx
  apps/docs/src/content/docs/(framework)/react/configuration.mdx
  apps/docs/src/content/docs/(framework)/react/installation.mdx
  apps/docs/src/content/docs/(framework)/react/usage.mdx
  apps/docs/src/content/docs/(framework)/solid/configuration.mdx
  apps/docs/src/content/docs/(framework)/solid/installation.mdx
  apps/docs/src/content/docs/(framework)/solid/usage.mdx
  apps/docs/src/content/docs/(framework)/vue/configuration.mdx
  apps/docs/src/content/docs/(framework)/vue/installation.mdx
  apps/docs/src/content/docs/(framework)/vue/usage.mdx
  apps/docs/src/content/docs/commands/init.mdx
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}
  type-check: any of: *.{ts,d.cts,d.mts,tsx}
